<a class="navbar-item" href="<%= @link %>" target="_blank">
  <span class="icon">
    <i class="<%= assigns[:type] || "fab" %> fa-<%= @icon %>" aria-hidden="true"></i>
  </span>
  <span><%= @title %></span>
</a>
