.font-title {
  font-family: "TeXGyreAdventorBold", "Raleway", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-weight: bold;
}

.hero {
  .container {
    width: 95%;
  }
  .title {
    word-spacing: 0px;
  }
}
